adfnwee/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfnwee"
		},
		"AzureSqlDatabase1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase1'"
		},
		"AzureSqlDatabase2_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase2'"
		},
		"LS_ADLS_to_adf_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_to_adf'"
		},
		"ls_adls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adls'"
		},
		"ls_pd_sqldb_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_pd_sqldb'"
		},
		"ls_sqlb_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sqlb'"
		},
		"ls_sqldb_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sqldb'"
		},
		"AzureSqlDatabase1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlservcd.database.windows.net"
		},
		"AzureSqlDatabase1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sqldbqy"
		},
		"AzureSqlDatabase1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "somesh"
		},
		"AzureSqlDatabase2_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlservcd.database.windows.net"
		},
		"AzureSqlDatabase2_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sqldbqy"
		},
		"AzureSqlDatabase2_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "somesh"
		},
		"LS_ADLS_to_adf_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://newstgac.dfs.core.windows.net/"
		},
		"ls_adls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://newstgac.dfs.core.windows.net/"
		},
		"ls_pd_sqldb_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlshe.database.windows.net"
		},
		"ls_pd_sqldb_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "studysqldb"
		},
		"ls_pd_sqldb_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "somesh"
		},
		"ls_sqlb_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlservcd.database.windows.net"
		},
		"ls_sqlb_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sqldbqy"
		},
		"ls_sqlb_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "somesh"
		},
		"ls_sqldb_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlshe.database.windows.net"
		},
		"ls_sqldb_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "master"
		},
		"ls_sqldb_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "somesh"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/01_pl_appendvariable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Countries",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Append variable1",
									"type": "AppendVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "CountriesOutput",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Append variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "CountryName",
										"value": {
											"value": "@variables('CountriesOutput')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Countries": {
						"type": "array",
						"defaultValue": [
							"India",
							"UK",
							"US",
							"Germany"
						]
					}
				},
				"variables": {
					"CountriesOutput": {
						"type": "Array"
					},
					"CountryName": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "Pooja"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase1_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase2_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase2_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase2_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase2_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_to_adf')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_to_adf_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_to_adf_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_pd_sqldb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_pd_sqldb_properties_typeProperties_server')]",
					"database": "[parameters('ls_pd_sqldb_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_pd_sqldb_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_pd_sqldb_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sqlb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_sqlb_properties_typeProperties_server')]",
					"database": "[parameters('ls_sqlb_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_sqlb_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sqlb_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sqldb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_sqldb_properties_typeProperties_server')]",
					"database": "[parameters('ls_sqldb_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_sqldb_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sqldb_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/011_PPL_SPLIT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SP_SPLITDATA]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "empname",
						"type": "varchar"
					},
					{
						"name": "city",
						"type": "varchar"
					},
					{
						"name": "salary",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "DBO",
					"table": "TBL_NEWEMPLOYEE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "name",
						"type": "varchar"
					},
					{
						"name": "city",
						"type": "varchar"
					},
					{
						"name": "salary",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "sales"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_else')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"fileSystem": "destination"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "salary",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_getmetadata')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Employees3.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "salary",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ifelse')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "destination"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "salary",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_json_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Employees.json",
						"folderPath": "jsonfiles",
						"fileSystem": "source"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"EmployeeKey": {
							"type": "string"
						},
						"FirstName": {
							"type": "string"
						},
						"LastName": {
							"type": "string"
						},
						"EmailAddress": {
							"type": "string"
						},
						"Phone": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_lookup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Employees3.csv",
						"fileSystem": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "World",
						"type": "String"
					},
					{
						"name": "Afghanistan",
						"type": "String"
					},
					{
						"name": "Africa",
						"type": "String"
					},
					{
						"name": "Albania",
						"type": "String"
					},
					{
						"name": "Algeria",
						"type": "String"
					},
					{
						"name": "American Samoa",
						"type": "String"
					},
					{
						"name": "Andorra",
						"type": "String"
					},
					{
						"name": "Angola",
						"type": "String"
					},
					{
						"name": "Anguilla",
						"type": "String"
					},
					{
						"name": "Antigua and Barbuda",
						"type": "String"
					},
					{
						"name": "Argentina",
						"type": "String"
					},
					{
						"name": "Armenia",
						"type": "String"
					},
					{
						"name": "Aruba",
						"type": "String"
					},
					{
						"name": "Asia",
						"type": "String"
					},
					{
						"name": "Australia",
						"type": "String"
					},
					{
						"name": "Austria",
						"type": "String"
					},
					{
						"name": "Azerbaijan",
						"type": "String"
					},
					{
						"name": "Bahamas",
						"type": "String"
					},
					{
						"name": "Bahrain",
						"type": "String"
					},
					{
						"name": "Bangladesh",
						"type": "String"
					},
					{
						"name": "Barbados",
						"type": "String"
					},
					{
						"name": "Belarus",
						"type": "String"
					},
					{
						"name": "Belgium",
						"type": "String"
					},
					{
						"name": "Belize",
						"type": "String"
					},
					{
						"name": "Benin",
						"type": "String"
					},
					{
						"name": "Bermuda",
						"type": "String"
					},
					{
						"name": "Bhutan",
						"type": "String"
					},
					{
						"name": "Bolivia",
						"type": "String"
					},
					{
						"name": "Bonaire Sint Eustatius and Saba",
						"type": "String"
					},
					{
						"name": "Bosnia and Herzegovina",
						"type": "String"
					},
					{
						"name": "Botswana",
						"type": "String"
					},
					{
						"name": "Brazil",
						"type": "String"
					},
					{
						"name": "British Virgin Islands",
						"type": "String"
					},
					{
						"name": "Brunei",
						"type": "String"
					},
					{
						"name": "Bulgaria",
						"type": "String"
					},
					{
						"name": "Burkina Faso",
						"type": "String"
					},
					{
						"name": "Burundi",
						"type": "String"
					},
					{
						"name": "Cambodia",
						"type": "String"
					},
					{
						"name": "Cameroon",
						"type": "String"
					},
					{
						"name": "Canada",
						"type": "String"
					},
					{
						"name": "Cape Verde",
						"type": "String"
					},
					{
						"name": "Cayman Islands",
						"type": "String"
					},
					{
						"name": "Central African Republic",
						"type": "String"
					},
					{
						"name": "Chad",
						"type": "String"
					},
					{
						"name": "Chile",
						"type": "String"
					},
					{
						"name": "China",
						"type": "String"
					},
					{
						"name": "Colombia",
						"type": "String"
					},
					{
						"name": "Comoros",
						"type": "String"
					},
					{
						"name": "Congo",
						"type": "String"
					},
					{
						"name": "Cook Islands",
						"type": "String"
					},
					{
						"name": "Costa Rica",
						"type": "String"
					},
					{
						"name": "Cote d'Ivoire",
						"type": "String"
					},
					{
						"name": "Croatia",
						"type": "String"
					},
					{
						"name": "Cuba",
						"type": "String"
					},
					{
						"name": "Curacao",
						"type": "String"
					},
					{
						"name": "Cyprus",
						"type": "String"
					},
					{
						"name": "Czechia",
						"type": "String"
					},
					{
						"name": "Democratic Republic of Congo",
						"type": "String"
					},
					{
						"name": "Denmark",
						"type": "String"
					},
					{
						"name": "Djibouti",
						"type": "String"
					},
					{
						"name": "Dominica",
						"type": "String"
					},
					{
						"name": "Dominican Republic",
						"type": "String"
					},
					{
						"name": "East Timor",
						"type": "String"
					},
					{
						"name": "Ecuador",
						"type": "String"
					},
					{
						"name": "Egypt",
						"type": "String"
					},
					{
						"name": "El Salvador",
						"type": "String"
					},
					{
						"name": "Equatorial Guinea",
						"type": "String"
					},
					{
						"name": "Eritrea",
						"type": "String"
					},
					{
						"name": "Estonia",
						"type": "String"
					},
					{
						"name": "Eswatini",
						"type": "String"
					},
					{
						"name": "Ethiopia",
						"type": "String"
					},
					{
						"name": "Europe",
						"type": "String"
					},
					{
						"name": "European Union (27)",
						"type": "String"
					},
					{
						"name": "Falkland Islands",
						"type": "String"
					},
					{
						"name": "Faroe Islands",
						"type": "String"
					},
					{
						"name": "Fiji",
						"type": "String"
					},
					{
						"name": "Finland",
						"type": "String"
					},
					{
						"name": "France",
						"type": "String"
					},
					{
						"name": "French Guiana",
						"type": "String"
					},
					{
						"name": "French Polynesia",
						"type": "String"
					},
					{
						"name": "Gabon",
						"type": "String"
					},
					{
						"name": "Gambia",
						"type": "String"
					},
					{
						"name": "Georgia",
						"type": "String"
					},
					{
						"name": "Germany",
						"type": "String"
					},
					{
						"name": "Ghana",
						"type": "String"
					},
					{
						"name": "Gibraltar",
						"type": "String"
					},
					{
						"name": "Greece",
						"type": "String"
					},
					{
						"name": "Greenland",
						"type": "String"
					},
					{
						"name": "Grenada",
						"type": "String"
					},
					{
						"name": "Guadeloupe",
						"type": "String"
					},
					{
						"name": "Guam",
						"type": "String"
					},
					{
						"name": "Guatemala",
						"type": "String"
					},
					{
						"name": "Guernsey",
						"type": "String"
					},
					{
						"name": "Guinea",
						"type": "String"
					},
					{
						"name": "Guinea-Bissau",
						"type": "String"
					},
					{
						"name": "Guyana",
						"type": "String"
					},
					{
						"name": "Haiti",
						"type": "String"
					},
					{
						"name": "High-income countries",
						"type": "String"
					},
					{
						"name": "Honduras",
						"type": "String"
					},
					{
						"name": "Hungary",
						"type": "String"
					},
					{
						"name": "Iceland",
						"type": "String"
					},
					{
						"name": "India",
						"type": "String"
					},
					{
						"name": "Indonesia",
						"type": "String"
					},
					{
						"name": "Iran",
						"type": "String"
					},
					{
						"name": "Iraq",
						"type": "String"
					},
					{
						"name": "Ireland",
						"type": "String"
					},
					{
						"name": "Isle of Man",
						"type": "String"
					},
					{
						"name": "Israel",
						"type": "String"
					},
					{
						"name": "Italy",
						"type": "String"
					},
					{
						"name": "Jamaica",
						"type": "String"
					},
					{
						"name": "Japan",
						"type": "String"
					},
					{
						"name": "Jersey",
						"type": "String"
					},
					{
						"name": "Jordan",
						"type": "String"
					},
					{
						"name": "Kazakhstan",
						"type": "String"
					},
					{
						"name": "Kenya",
						"type": "String"
					},
					{
						"name": "Kiribati",
						"type": "String"
					},
					{
						"name": "Kosovo",
						"type": "String"
					},
					{
						"name": "Kuwait",
						"type": "String"
					},
					{
						"name": "Kyrgyzstan",
						"type": "String"
					},
					{
						"name": "Laos",
						"type": "String"
					},
					{
						"name": "Latvia",
						"type": "String"
					},
					{
						"name": "Lebanon",
						"type": "String"
					},
					{
						"name": "Lesotho",
						"type": "String"
					},
					{
						"name": "Liberia",
						"type": "String"
					},
					{
						"name": "Libya",
						"type": "String"
					},
					{
						"name": "Liechtenstein",
						"type": "String"
					},
					{
						"name": "Lithuania",
						"type": "String"
					},
					{
						"name": "Low-income countries",
						"type": "String"
					},
					{
						"name": "Lower-middle-income countries",
						"type": "String"
					},
					{
						"name": "Luxembourg",
						"type": "String"
					},
					{
						"name": "Madagascar",
						"type": "String"
					},
					{
						"name": "Malawi",
						"type": "String"
					},
					{
						"name": "Malaysia",
						"type": "String"
					},
					{
						"name": "Maldives",
						"type": "String"
					},
					{
						"name": "Mali",
						"type": "String"
					},
					{
						"name": "Malta",
						"type": "String"
					},
					{
						"name": "Marshall Islands",
						"type": "String"
					},
					{
						"name": "Martinique",
						"type": "String"
					},
					{
						"name": "Mauritania",
						"type": "String"
					},
					{
						"name": "Mauritius",
						"type": "String"
					},
					{
						"name": "Mayotte",
						"type": "String"
					},
					{
						"name": "Mexico",
						"type": "String"
					},
					{
						"name": "Micronesia (country)",
						"type": "String"
					},
					{
						"name": "Moldova",
						"type": "String"
					},
					{
						"name": "Monaco",
						"type": "String"
					},
					{
						"name": "Mongolia",
						"type": "String"
					},
					{
						"name": "Montenegro",
						"type": "String"
					},
					{
						"name": "Montserrat",
						"type": "String"
					},
					{
						"name": "Morocco",
						"type": "String"
					},
					{
						"name": "Mozambique",
						"type": "String"
					},
					{
						"name": "Myanmar",
						"type": "String"
					},
					{
						"name": "Namibia",
						"type": "String"
					},
					{
						"name": "Nauru",
						"type": "String"
					},
					{
						"name": "Nepal",
						"type": "String"
					},
					{
						"name": "Netherlands",
						"type": "String"
					},
					{
						"name": "New Caledonia",
						"type": "String"
					},
					{
						"name": "New Zealand",
						"type": "String"
					},
					{
						"name": "Nicaragua",
						"type": "String"
					},
					{
						"name": "Niger",
						"type": "String"
					},
					{
						"name": "Nigeria",
						"type": "String"
					},
					{
						"name": "Niue",
						"type": "String"
					},
					{
						"name": "North America",
						"type": "String"
					},
					{
						"name": "North Korea",
						"type": "String"
					},
					{
						"name": "North Macedonia",
						"type": "String"
					},
					{
						"name": "Northern Mariana Islands",
						"type": "String"
					},
					{
						"name": "Norway",
						"type": "String"
					},
					{
						"name": "Oceania",
						"type": "String"
					},
					{
						"name": "Oman",
						"type": "String"
					},
					{
						"name": "Pakistan",
						"type": "String"
					},
					{
						"name": "Palau",
						"type": "String"
					},
					{
						"name": "Palestine",
						"type": "String"
					},
					{
						"name": "Panama",
						"type": "String"
					},
					{
						"name": "Papua New Guinea",
						"type": "String"
					},
					{
						"name": "Paraguay",
						"type": "String"
					},
					{
						"name": "Peru",
						"type": "String"
					},
					{
						"name": "Philippines",
						"type": "String"
					},
					{
						"name": "Poland",
						"type": "String"
					},
					{
						"name": "Portugal",
						"type": "String"
					},
					{
						"name": "Puerto Rico",
						"type": "String"
					},
					{
						"name": "Qatar",
						"type": "String"
					},
					{
						"name": "Reunion",
						"type": "String"
					},
					{
						"name": "Romania",
						"type": "String"
					},
					{
						"name": "Russia",
						"type": "String"
					},
					{
						"name": "Rwanda",
						"type": "String"
					},
					{
						"name": "Saint Barthelemy",
						"type": "String"
					},
					{
						"name": "Saint Helena",
						"type": "String"
					},
					{
						"name": "Saint Kitts and Nevis",
						"type": "String"
					},
					{
						"name": "Saint Lucia",
						"type": "String"
					},
					{
						"name": "Saint Martin (French part)",
						"type": "String"
					},
					{
						"name": "Saint Pierre and Miquelon",
						"type": "String"
					},
					{
						"name": "Saint Vincent and the Grenadines",
						"type": "String"
					},
					{
						"name": "Samoa",
						"type": "String"
					},
					{
						"name": "San Marino",
						"type": "String"
					},
					{
						"name": "Sao Tome and Principe",
						"type": "String"
					},
					{
						"name": "Saudi Arabia",
						"type": "String"
					},
					{
						"name": "Senegal",
						"type": "String"
					},
					{
						"name": "Serbia",
						"type": "String"
					},
					{
						"name": "Seychelles",
						"type": "String"
					},
					{
						"name": "Sierra Leone",
						"type": "String"
					},
					{
						"name": "Singapore",
						"type": "String"
					},
					{
						"name": "Sint Maarten (Dutch part)",
						"type": "String"
					},
					{
						"name": "Slovakia",
						"type": "String"
					},
					{
						"name": "Slovenia",
						"type": "String"
					},
					{
						"name": "Solomon Islands",
						"type": "String"
					},
					{
						"name": "Somalia",
						"type": "String"
					},
					{
						"name": "South Africa",
						"type": "String"
					},
					{
						"name": "South America",
						"type": "String"
					},
					{
						"name": "South Korea",
						"type": "String"
					},
					{
						"name": "South Sudan",
						"type": "String"
					},
					{
						"name": "Spain",
						"type": "String"
					},
					{
						"name": "Sri Lanka",
						"type": "String"
					},
					{
						"name": "Sudan",
						"type": "String"
					},
					{
						"name": "Suriname",
						"type": "String"
					},
					{
						"name": "Sweden",
						"type": "String"
					},
					{
						"name": "Switzerland",
						"type": "String"
					},
					{
						"name": "Syria",
						"type": "String"
					},
					{
						"name": "Tajikistan",
						"type": "String"
					},
					{
						"name": "Tanzania",
						"type": "String"
					},
					{
						"name": "Thailand",
						"type": "String"
					},
					{
						"name": "Togo",
						"type": "String"
					},
					{
						"name": "Tokelau",
						"type": "String"
					},
					{
						"name": "Tonga",
						"type": "String"
					},
					{
						"name": "Trinidad and Tobago",
						"type": "String"
					},
					{
						"name": "Tunisia",
						"type": "String"
					},
					{
						"name": "Turkey",
						"type": "String"
					},
					{
						"name": "Turkmenistan",
						"type": "String"
					},
					{
						"name": "Turks and Caicos Islands",
						"type": "String"
					},
					{
						"name": "Tuvalu",
						"type": "String"
					},
					{
						"name": "Uganda",
						"type": "String"
					},
					{
						"name": "Ukraine",
						"type": "String"
					},
					{
						"name": "United Arab Emirates",
						"type": "String"
					},
					{
						"name": "United Kingdom",
						"type": "String"
					},
					{
						"name": "United States",
						"type": "String"
					},
					{
						"name": "United States Virgin Islands",
						"type": "String"
					},
					{
						"name": "Upper-middle-income countries",
						"type": "String"
					},
					{
						"name": "Uruguay",
						"type": "String"
					},
					{
						"name": "Uzbekistan",
						"type": "String"
					},
					{
						"name": "Vanuatu",
						"type": "String"
					},
					{
						"name": "Vatican",
						"type": "String"
					},
					{
						"name": "Venezuela",
						"type": "String"
					},
					{
						"name": "Vietnam",
						"type": "String"
					},
					{
						"name": "Wallis and Futuna",
						"type": "String"
					},
					{
						"name": "Yemen",
						"type": "String"
					},
					{
						"name": "Zambia",
						"type": "String"
					},
					{
						"name": "Zimbabwe",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_lookup_entiredataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Pooja"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Employees3.csv",
						"fileSystem": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_lookup_sqldb_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Pooja"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "empdata"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_purchase_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"fileSystem": "destination"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "salary",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sink_newtable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Pooja"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		}
	]
}